.footer {
  background-color: var(--bg);
  color: white;
  width: 100%;
  padding: 3rem 6rem;
  height: 40%;
  position: relative;
  display: grid;
  justify-content: center;
}

.footer .hotline-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  font-size: 1rem;
  gap: 1.5rem;
}

.footer .hotline img {
  width: 3rem;
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
  justify-content: center;
}

.footer .grid .box {
  display: grid;
  place-items: center;
}

.footer .grid .box p {
  font-size: 1.1rem;
  max-width: 35rem;
}

.footer .grid .box i {
  font-size: 3rem;
  margin-right: 0.75rem;
  color: var(--main-color);
}

.footer .credit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: var(--black);
  margin-top: 1rem;
}

.footer .credit img {
  width: 15rem;
}
.footer .credit p {
  font-size: 1.2rem;
}
