.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--main-color);
  font-family: 'Rajdhani', sans-serif;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .icons > *,
.header .flex .fa-address-book,
.header .flex .logo {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}

.header .flex .fa-address-book,
.header .flex .logo {
  margin-inline: 4%;
}

.header .flex .icons > * {
  margin-left: 1rem;
}

#menu-btn {
  display: none;
}
