.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 8rem;
  background-color: var(--main-color);
  font-family: 'Rajdhani', sans-serif;
}

.header #theme-btn .fa-circle-half-stroke {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}

.header #theme-btn {
  background-color: transparent;
  margin-left: 1rem;
}

.header a img {
  width: 20rem;
  margin-inline: 4%;
}
