.title {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  padding-inline: 2rem;
}

/* Search Form Section */

.search-form {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.search-form .input-group {
  display: flex;
  width: 70vw;
  gap: 1rem;
  align-items: center;
}

.search-form .input-group input {
  width: 100%;
  border-radius: 1.5rem;
  outline: none;
  border: 1px solid rgba(204, 204, 204, 0.596);
  background-color: var(--white);
  color: var(--black);
  padding: 1rem;
}

.search-form .input-group i {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
}

/* Org Filter Section */

.org-filter {
  display: grid;
  gap: 2rem;
  justify-content: center;
}

/* Big Orgs */

#bigOrgs {
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  position: relative;
  padding-inline: 5rem;
}

#bigOrgs .bigOrgWrapper.active {
  grid-column: 1 / -1;
  z-index: 2;
}

#bigOrgs .bigOrgWrapper.active .bigOrgBtn {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: none;
  text-align: center;
  justify-content: space-evenly;
  grid-template-columns: 0% 90%;
}

#bigOrgs .bigOrgWrapper .bigOrgBtn {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 1rem 3rem;
  justify-content: space-around;
  width: 100%;
  font-size: small;
  font-weight: bold;
  align-items: center;
}

.open-close-container {
  display: grid;
  grid-template-rows: 0fr;
  background-color: var(--white);
  border-radius: 1rem;
  height: max-content;
  padding: 1rem;
  overflow: hidden;
  margin-top: 1rem;
}

.open-close-container.open {
  max-height: max-content;
  width: 100%;
}

/* Small Orgs */

#smallOrgs {
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

#smallOrgs .smallOrgBtn {
  width: max-content;
  height: max-content;
  padding: 0.5rem;
}

/* Org Buttons Shared Styles */

.bigOrgBtn img,
.smallOrgBtn img {
  width: auto;
  height: 5rem;
}

.org-filter:has(.bigOrgBtn.active) .bigOrgBtn:not(.active) img,
.org-filter:has(.smallOrgBtn.active) .smallOrgBtn:not(.active) img {
  filter: grayscale(100%);
}

.org-filter .bigOrgWrapper .bigOrgBtn,
.org-filter .smallOrgBtn {
  background-color: var(--white);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: var(--black);
}

.bigOrgBtn:hover,
.smallOrgBtn:hover {
  transform: scale(1.02);
  box-shadow: 1rem 1rem 2rem var(--box-shadow);
}

.bigOrgBtn:active,
.smallOrgBtn:active {
  transform: scale(0.98);
}

/* Workers Section */

.workers_section {
  &.expanded {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 4rem;
    align-items: start;
    width: 100%;
    padding: 1rem 2rem;
  }
}

.worker_filters .filterWorkersBtn {
  padding: 0.5rem;
  margin-block: 1rem;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: var(--black);
  text-align: left;
}

.workers_section .subtitle {
  margin-block: 1.5rem;
  font-size: large;
}

.workers {
  position: relative;
  overflow: hidden;
  max-height: 85rem;

  &.expanded {
    max-height: none;
  }
}

.workers .box-container,
.org-filter .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  justify-content: space-evenly;
}

.reset-btn {
  height: 3rem;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  border-radius: 1rem;
  width: max-content;
  padding-inline: 0.5rem;
}

.message {
  display: flex;
  width: max-content;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15rem;
  background: linear-gradient(to bottom, transparent, var(--light-bg));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.fade-overlay .show-btn {
  font-size: 3rem;
  color: #555;
  margin-bottom: 1rem;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.fade-overlay .show-btn:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

/*Responsive*/

/*Small devices (landscape phones, 576px and down)*/

@media (max-width: 575px) {
  .title {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  .title {
    font-size: 1.5rem;
  }
}

/*Medium devices (Tablets, 768px and down)*/

@media (max-width: 768px) {
  .workers_section {
    &.expanded {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/*Medium devices (Tablets, 768px and up)*/

@media (min-width: 768px) {
  .title {
    font-size: 1.8rem;
  }
}

/*Large devices (laptops, 991px and down)*/

@media (min-width: 991px) {
  .title {
    font-size: 2.25rem;
  }
}

/*Larger devices (Desktop, 1024px and up)*/

@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }

  .workers_section {
    &.expanded {
      display: grid;
      grid-template-columns: 15% 85%;
    }
  }
}

/*X-Large devices (large Desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .title {
    font-size: 2.75rem;
  }
}
