.title {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
  font-size: x-large;
}

.search-form {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.search-form .input-group {
  display: flex;
  width: 70vw;
  gap: 1rem;
  align-items: center;
}

.search-form .input-group input {
  width: 100%;
  border-radius: 1.5rem;
  outline: none;
  border: 1px solid rgba(204, 204, 204, 0.596);
  background-color: var(--white);
  color: var(--black);
  padding: 1rem;
}

.search-form .input-group i {
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
}

.org-filter {
  display: grid;
  gap: 2rem;
  justify-content: center;
}

#bigOrgs {
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  position: relative;
}

#bigOrgs .bigOrgWrapper.active {
  grid-column: 1 / -1;
  z-index: 2;
}

#bigOrgs .bigOrgWrapper.active .bigOrgBtn {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: none;
  text-align: center;
  justify-content: space-evenly;
  grid-template-columns: 0% 90%;
}

.open-close-container {
  display: grid;
  grid-template-rows: 0fr;
  background-color: var(--white);
  border-radius: 1rem;
  height: max-content;
  padding: 1rem;
  overflow: hidden;
  margin-top: 1rem;
}

.open-close-container.open {
  max-height: max-content;
  width: 100%;
}

#smallOrgs {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.bigOrgBtn img,
.smallOrgBtn img {
  width: 5rem;
}

.org-filter .bigOrgWrapper .bigOrgBtn,
.org-filter .smallOrgBtn {
  background-color: var(--white);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  align-items: center;
}

.org-filter .bigOrgWrapper .bigOrgBtn {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 1rem 3rem;
  justify-content: space-around;
  width: 100%;
  font-size: small;
  font-weight: bold;
}

.org-filter .smallOrgBtn {
  width: max-content;
  height: max-content;
  padding: 0.5rem;
}

.bigOrgBtn:hover,
.smallOrgBtn:hover {
  transform: scale(1.02);
  box-shadow: 1rem 1rem 2rem var(--box-shadow);
}

.bigOrgBtn:active,
.smallOrgBtn:active {
  transform: scale(0.98);
}

.workers .subtitle {
  margin-block: 1.5rem;
  font-size: large;
}

.workers {
  position: relative;
  overflow: hidden;
  max-height: 85rem;

  &.expanded {
    max-height: none;
  }
}

.workers .box-container,
.org-filter .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  justify-content: space-evenly;
}

.worker-card {
  max-width: 35rem;
}

.reset-btn {
  height: 3rem;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  border-radius: 1rem;
  width: max-content;
  padding-inline: 0.5rem;
}

.no-workers-message {
  display: flex;
  width: max-content;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15rem;
  background: linear-gradient(to bottom, transparent, var(--light-bg));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.fade-overlay .show-btn {
  font-size: 3rem;
  color: #555;
  margin-bottom: 1rem;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.fade-overlay .show-btn:hover {
  color: var(--main-color);
  transform: scale(1.1);
}
