<section class="org-filter">
  <button *ngFor="let org of orgs" class="btn">
    <img
      [src]="'assets/' + org.logo"
      alt="Organization Logo"
    />
  </button>
</section>

<h1 class="title">ერთიანი სატელეფონო სისტემა</h1>

<section class="search-form">
  <form action="" method="post">
    <input
      type="text"
      name="search"
      placeholder="Search..."
      maxlength="100"
      class="navSearch"
      required
    />
    <button type="submit" class="fas fa-search" name="search_btn"></button>
  </form>
</section>

<section class="workers">
  <h2 class="subtitle">თანამშრომლები</h2>
  <div class="box-container workers-container">
    <app-worker-card
      *ngFor="let worker of workers"
      [worker]="worker"
      [orgs]="orgs"
    ></app-worker-card>
  </div>
</section>
