<div class="worker-card">
  <div class="job">
    <img
      [src]="'assets/' + organizationLogo"
      alt="Organization Logo"
    />
    <p>
      {{ organizationName || 'Organization' }}
    </p>
  </div>
  <div class="person">
    <img
      [src]="'assets/' + (worker.image || 'default.png')"
      alt="Worker Photo"
      (error)="onImgError($event)"
    />

    <div class="info">
      <h3>{{ worker.full_name }}</h3>
      <p>{{ worker.department }}</p>
      <p>{{ worker.position }}</p>
      <div class="contact-info">
        <small><i class="fa-solid fa-envelope"></i> {{ worker.email }}</small>
        <small><i class="fa-solid fa-phone"></i> {{ worker.phone }}</small>
        <small><i class="fa-regular fa-calendar-days"></i> {{ worker.employment_year }}</small>
      </div>
    </div>
  </div>
</div>
